body {
    background: #171717;
}
.container {
    width: 100%;
    max-width: 1454px;
    margin: 0 auto;
    background: #171717;
    height: 4000px;
}
.logo {
    padding-top: 46px;
}
header a {
    float: right;
    margin-top: 37px;
    margin-left: 40px;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}
header p {
    float: right;
    margin-top: 50px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: white;
}
header span {
    color: #D6AF76;
}
article h2 {
    margin-bottom: 40px;
    margin-top: 128px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}
article p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
}
.thermal-networks {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-top: 42px;
}
.thermal-networks li {
    border: 1px solid #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right: 44px;
    text-align: center;
}
.cell-1 {
    background: #634F2C;
    grid-column-start: 1;
    grid-column-end: 3;
}
.cell-2 {
    background: #B4A385;
    grid-column-start: 3;
    grid-column-end: 5;
}
.cell-3 {
    background: #E4B564;
    grid-column-start: 5;
    grid-column-end: 7;
}
.cell-4 {
    background: #635A4A;
    grid-column-start: 1;
    grid-column-end: 4;
}
.cell-5 {
    background: #B08C4D;
    grid-column-start: 4;
    grid-column-end: 7;
}
.thermal-networks p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
section h3 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 160px;
    margin-bottom: 94px;
    color: #FFFFFF;
}
.technical-machines {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    grid-template-areas: 
    /* "item-1 item-2 item-3"
    "item-1 item-2 item-3"
    "item-4 item-2 item-5"
    "item-4 item-6 item-5"
    "item-4 item-6 item-7"
    "item-4 item-6 item-7" */ 
}
.technical-machines li {
    border: 1px solid #171717;
    padding-left: 52px;
    padding-top: 44px;
}
.box1 {
    background: #0E0E0E;
    /* grid-area: item-1; */
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box2 {
    background: #242424;
    /* grid-area: item-2; */
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.box3 {
    background: #242424;
    /* grid-area: item-3; */
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box4 {
    background: #242424;
    /* grid-area: item-4; */
    grid-row-start: 3;
    grid-row-end: span 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box5 {
    background: #0E0E0E;
    /* grid-area: item-5; */
    grid-row-start: 3;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box6 {
    background: #E4B564;
    /* grid-area: item-6; */
    grid-row-start: 4;
    grid-row-end: span 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.box7 {
    background: #0E0E0E;
    /* grid-area: item-7; */
    grid-row-start: 5;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box1 p {
    font-family: 'Gilam';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
/* padding: 44px 114px 218px 52px ; */
padding-right: 114px;
padding-bottom: 218px;
}
footer {
    background: #0E0E0E;
    width: 100%;
}
footer h4 {
    margin-top: 364px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 172px;
}
footer a {
    text-decoration: none;
    float: right;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px;
    margin-bottom: 60px;
    position: relative;
    top: -25px;
}
.clients {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 390px); 
}
.item-1 {
    background: #634F2C;
}
.item-2 {
    background: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    
}
.item-3 {
    background: #E4B564 
}
.item-4 {
    background: #635A4A;
}
.item-5 {
    background: #B08C4D;
}
.item-6 {
    background: #634F2C;
}
.clients li {
    display: flex;
    justify-content: center;
    align-items: center;
}